.country-label{
    background-color: #dfe2e4; 
     border-radius: 6px;
      min-height: 60px; 
      width: 125px; 
      color:black; 
      padding-left: 10px;
      margin-top: -13px;
}
.country-label h2{
    text-align: center;
    top: 17px;
    position: relative;
    margin-top: 15px;
   left: -5px; 
}
.label{
    background-color: #dfe2e4; 

margin-top: 0px;
    min-height: 50px; 
    height: 160px;
    width: 245px; 
    color: black;
     padding-left: 0px
}
.label-name{
text-align: center;
    margin-top: -100px;
    padding-top: 0px;
    font-size: 22px;
    margin-right: 14px;
}
.label-composition {
    position: absolute;
    font-size: 17px;
    margin-top: -10px;
    right: 120px;
}
.composition-value{
    position: absolute;
    left: 190px;
    font-size: 14px;
    bottom: 68px;
}
.label-mass {
    position: absolute;
    font-size: 17px;
    margin-right: 190px;
    margin-top: 22px;
    right: -8px;
    
}
.mass-value{
    position: absolute;
    left: 190px;
    font-size: 14px;
    bottom: 38px;
   
}
.label-status {
    position: absolute;
    font-size: 17px;
    margin-right: 190px;
    margin-top: 50px;
    right: -16px;
    
}
.status-value{
    position: absolute;
    left: 190px;
    font-size: 14px;
    bottom: 10px;
}