body {
  overflow-x: Hidden;
}
.label-test {
  position: absolute;
  margin-left: 65px;
  top: 165px;
}
.country-label {
  background-color: #dfe2e4;
  border-radius: 6px;
  min-height: 60px;
  width: 125px;
  color: black;
  padding-left: 10px;
  margin-top: -13px;
}
.country-label h2 {
  text-align: center;
  top: 17px;
  position: relative;
  margin-top: 15px;
  left: -5px;
}
.label {
  background-color: #dfe2e4;
  opacity: 1;
  margin-top: 0px;
  min-height: 50px;
  height: 160px;
  width: 245px;
  color: black;
  padding-left: 0px;
}
.label-name {
  text-align: center;
  margin-top: -100px;
  padding-top: 0px;
  font-size: 22px;
  margin-right: 14px;
}
.label-composition {
  position: absolute;
  font-size: 17px;
  margin-top: -10px;
  right: 120px;
}
.composition-value {
  position: absolute;
  left: 190px;
  font-size: 14px;
  bottom: 68px;
}
.label-mass {
  position: absolute;
  font-size: 17px;
  margin-right: 190px;
  margin-top: 22px;
  right: -8px;
}
.mass-value {
  position: absolute;
  left: 190px;
  font-size: 14px;
  bottom: 38px;
}
.label-status {
  position: absolute;
  font-size: 17px;
  margin-right: 190px;
  margin-top: 50px;
  right: -16px;
}
.status-value {
  position: absolute;
  left: 190px;
  font-size: 14px;
  bottom: 10px;
}

.Meteor_Info-Name {
  color: black;
  font-size: 23px;
  text-align: left;
}
.Meteor_Info-Name-info {
  position: absolute;
  top: 60px;
  left: 220px;
  font-size: 19px;
  font-weight: bold;
}
.Meteor_Info-Composition {
  color: black;
  margin-top: 20px;
  font-size: 23px;
  text-align: left;
}
.Meteor_Info-Composition-info {
  position: absolute;
  top: 115px;
  left: 220px;
  font-size: 19px;
  font-weight: bold;
}
.Meteor_Info-Mass {
  color: black;
  margin-top: 20px;
  font-size: 23px;
  text-align: left;
}
.Meteor_Info-Mass-info {
  position: absolute;
  top: 171px;
  left: 220px;
  font-size: 19px;
  font-weight: bold;
}

.Meteor_Info-Status {
  color: black;
  margin-top: 20px;
  font-size: 23px;
  text-align: left;
}
.Meteor_Info-Status-info {
  position: absolute;
  top: 225px;
  left: 220px;
  font-size: 19px;
  font-weight: bold;
}

.Meteor_Info-Year {
  color: black;
  margin-top: 20px;
  font-size: 23px;
  text-align: left;
}
.Meteor_Info-Year-info {
  position: absolute;
  top: 279px;
  left: 220px;
  font-size: 19px;
  font-weight: bold;
}

.Meteor_Info-Longitude {
  color: black;
  margin-top: 20px;
  font-size: 23px;
  text-align: left;
}
.Meteor_Info-Longitude-info {
  position: absolute;
  top: 333px;
  left: 220px;
  font-size: 19px;
  font-weight: bold;
}

.Meteor_Info-Latitude {
  color: black;
  margin-top: 20px;
  font-size: 23px;
  text-align: left;
}
.Meteor_Info-Latitude-info {
  position: absolute;
  top: 388px;
  left: 220px;
  font-size: 19px;
  font-weight: bold;
}
.Meteor_detail-map {
  width: 100px;
}

.Detailed_Location {
  font-size: 22px;
  margin-left: 469px;
}

.leaflet-container {
  top: 70px;
  left: 600px;
  position: absolute;
  width: 300px;
  height: 40vh;
}
.btn {
  position: absolute;
  top: 240px;
  margin-left: 930px;
}
