

/* popup css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h2{
      font-size: 2.4rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
      font-size: 1.4rem;
      margin: 1rem 0 2.4rem 0;
      line-height: 0rem;
      color: #212121;
      font-weight: 400;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .image-container {
      position: relative;
      width: 300px; /* Adjust the size as needed */
      height: auto;
      overflow: hidden;
      border-radius: 20px;
    }
    
    img {
      max-width: 100%;
      height: auto;
      transition: opacity 0.3s ease;
  
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 29%;
      border-radius: 20px 20px 10px 10px ;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      justify-content: left;
      padding: 17px 10px;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none; /* Allow clicking through the overlay */
    }
    
    .image-container:hover img {
      opacity: 0.5;
      cursor: pointer;
    }
    
    .image-container:hover .overlay {
      opacity: 1;
    }
    table tr {
      font-weight: 600;
        line-height: 45px;
    }
    table{
      margin-left: 20px;
    }
    h2{
      font-size: 2.4rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
      font-size: 1.4rem;
      margin: 1rem 0 2.4rem 0;
      line-height: 0rem;
      color: #212121;
      font-weight: 400;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .overlay p, h3{
      color: white;
      text-align: left;
    }
    .overlay h3{
      line-height: 0px;
      font-size: 13px;
      margin: 38px 0;
    }
    .container{
      margin: 5rem;
    }
    .modal-wrapper{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(189, 189, 189, 0.052);
      z-index: 9999;
    }
    .modal-container{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80vw;
      background-color: #fff;
      padding: 2rem 3rem;
      border-radius: 0.5rem;
    }
    .modal-btn{
      padding: 0.6rem 1.4rem;
      font-size: 1.4rem;
      border: none;
      border-radius: 0.3rem;
      background-color: #212121;
      color: #fff;
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      transform: scale(0.9);
    }
    .modal-btn:hover{
      background-color: #fff;
      color: #212121;
      border: #212121;
      transform: scale(1);
      transition: all 0.1s;
      box-shadow: rgb(0, 0, 0,0.16) 0px 1px 4px, rgb(51, 51,51) 0px 0px 0px 3px;
    }
    table {
      text-align: left;
    }
    /* table, th, td {
      border:1px solid black;
    } */
    table td{
      line-height: 37px;
      padding-right: 20px;
    }
    table .value td{
      font-weight: 500;
        font-size: 20px;
        padding-left: 20px;
    }
    table td{
      font-weight: 400;
      font-size: 16px;
    }
    
    @media screen and (max-width: 630px) {
      table .value td{
        font-weight: 400;
          font-size: 14px;
          padding-left: 10px;
      }
      table td{
        font-weight: 400;
        font-size: 13px;
      }
    }